body {
    margin: 0 auto;
    padding: 5em;
    color:rgb(36, 36, 36);
    /* font:400 16px/1.5 -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"; */
    background-color: #F4F5F7;
}


.robotoMono {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
}

.roboto {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}



h1{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 600;
    

}


h2{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 400;
    margin-bottom: 5rem;

}


h3{
    font-family: 'Roboto Mono', sans-serif, monospace;
    position: relative;
    text-align: left;
    margin-left: 10rem;
    margin-right: 10rem;
    /* padding-left: 10rem;
    padding-right: 10rem; */
    padding: 1.5rem 8rem 0rem;
    border-bottom: 3px solid #333333;
    font-weight: 600;
    border-bottom: 3px solid #333333;
    

}

  
   h3 span {
     font-family: 'Roboto', sans-serif;
     font-size: 10px;
     font-size: 3rem;
     line-height: 1;
     position: absolute;
     bottom: 0rem;
     left: 0;
     color:rgb(80, 80, 80)
   }


h4{
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    font-weight: 300;
    margin-bottom: 5rem;

}



p.content {
    font-family: 'Roboto Mono', monospace;
    padding-top: 2rem;
    padding-left: 20rem;
    padding-right: 20rem;
    padding-bottom: 2rem;
    margin:0px auto;
    /* text-align: center; */
    font-weight: 400;
    color:#333333
}

p.chart{
    font-family: 'Roboto Mono', monospace;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-left: 20rem;
    margin-right: 20rem;
    /* text-align: center; */
   
    color:#333333

}





.map-body{
     display: flex;
     padding-top: 0em;
     
  
}





@media screen and (max-width: 767px) {

    body{
        padding: 1em;

    }
	.map-body {
		flex-direction: column;
		width: 100%;
        height: 900px;
	}

    #map{
        height: 300px;
    }


}

@media screen and (max-width: 600px) {

    p.content{
       
        padding-right: 0;
        padding-left: 0;
    }


    .map-overlay {
        position: relative;
        bottom: 0;
        right: -50px;
        top: 0px;
        background: #fff;
        margin-right: 10px;
        font-family: Arial, sans-serif;
        overflow: auto;
        border-radius: 3px;
        }
    

        .photo-section {
            display:block;
            margin: auto;
            /* margin-left: auto;
           margin-right: auto; */
        }
        .photo {
            padding:0;
        } 
}

#map {
    display:flex;
    width: 90%;
    height: 600px;
    margin: 5em auto;
    margin-right: 1em;
}

#map2 {
    display:flex;
    width: 90%;
    height: 600px;
    margin: 5em auto;
    margin-left: auto;
}

.mapboxgl-popup-content h4 {
    font-weight: 300;
    font-size: 0.9em;
    border-width: 0px 0px 0.5px 0px;
    border-style: solid;
    border-color: rgb(80, 80, 80);
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.mapboxgl-popup-content h2 {
    font-weight: 500;
    margin-top: 0.5em;
    margin-bottom: 0.3em;
}
.mapboxgl-popup-content p {
    font-weight: 300;
    margin-top: 0.3em;
    margin-bottom: 0em;
}



a, a:visited{
    text-decoration: underline;
    text-underline-offset: 3px;
    color: black;

}

a:hover{
    color:hsla(0, 0%, 0%, 0.5)
}

img {
    max-width: 100%
}

.top-picture {
    margin:auto;
    max-width: 800px;
    margin-bottom: 3rem;

}


.map-overlay {
    position: relative;
    /* bottom: 0; */
    right: -180px;
    top: -410px;
    background: #fff;
    /* margin-right: 20px; */
    font-family: Arial, sans-serif;
    overflow: auto;
    z-index: 100;
    border-radius: 3px;
    opacity: 100%;
    }

#legend {
    
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    line-height: 18px;
    height: auto;
    /* margin-bottom: 40px; */
    width: 200px;
    color: rgb(36, 36, 36);
    font-family: 'Roboto Mono', monospace;
    }
    .legend-key {
    display: inline-block;
    border-radius: 20%;
    width: 10px;
    height: 10px;
    margin-right: 5px;
   
  
    }


  
      
      
    .item-list{
        display: flex;
        
      }
      .item-list .item{
        box-sizing: border-box;
        padding-right: 400px;  
      }


      /* .map-overlay input {
        background-color: transparent;
        display: inline-block;
        width: 100%;
        position: relative;
        margin: 0;
        cursor: ew-resize;
        } */